<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/contact.css">
    <title>Contact</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="https://github.com/lewis-2000">Projects</a></li>
        </ul>
    </nav>
    
    <section class="content" id="hero">
        <div class="quote">
            <p class="inspiring-text">"Code with purpose, <br /> for in each line lies the power to shape the future and inspire innovation." <span> <br /> By some Random Guy at the supermarket</span> </p>
        </div>
        <div class="hero-img">
            <img src="./img/self.png" alt="Self Portrait" />
        </div>
    </section>

    <section class="contact-buttons">
        <div class="contacts">
            <a href="https://github.com/lewis-2000"><img src="./img/githubLogo.svg" alt="Github Link" type="img/svg+xml" /></a>
            <a href="https://instagram.com/lewis_nganga_n"><img src="./img/instagram.svg" alt="Github Link" type="img/svg+xml" /></a>

        </div>
    </section>
    
    <section class="content" id="projects">
        <div class="projects-header">
            <h1>Projects</h1>
        </div>

        <div class="projects-container">
            <div class="projects-card"></div>
            <div class="projects-card"></div>
            <div class="projects-card"></div>
            <div class="projects-card"></div>
            <div class="projects-card"></div>
            <div class="projects-card"></div>
            <div class="projects-card"></div>
        </div>
    </section>
    
    <section class="content" id="salute">Section3</section>
</body>
</html>
