<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Management System</title>
    <link rel="stylesheet" href="./css/home.css">
    <link rel="icon" href="./img/tokio-hotel.svg" type="img/svg+xml">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="./img/tokio-hotel.svg" type="img/svg+xml" class="hotel-logo" alt="Hotel Logo">
            </div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Rooms</a></li>
                <li><a href="#">Reservations</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <div class="login">
                <a href="#">Login</a>
            </div>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h1>Welcome to Our Hotel</h1>
            <p class="slogan">Your Home Away from Home</p>
            <a href="#" class="btn">Book Now</a>
        </section>

        <section class="features">
            <div class="feature">
                <img src="./img/luxurious-room.jpg" alt="Feature 1">
                <h2>Luxurious Rooms</h2>
                <p>Experience comfort and style in our well-appointed rooms.</p>
            </div>
            <div class="feature">
                <img src="./img/interior.jpg" alt="Feature 2">
                <h2>World-Class Dining</h2>
                <p>Savor exquisite dishes from our renowned chefs.</p>
            </div>
            <div class="feature">
                <img src="./img/spa.jpg" alt="Feature 3">
                <h2>Relaxation &amp; Spa</h2>
                <p>Indulge in relaxation with our spa and wellness services.</p>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-logo">
            <img class="social-icon" src="./img/tokio-hotel.svg" alt="Hotel Logo">
        </div>
        <div class="footer-social">
            <a href="#" class="social-icon"><img src="./img/facebook.svg" alt="Facebook"></a>
            <a href="#" class="social-icon"><img src="./img/twitter.svg" alt="Twitter"></a>
            <a href="#" class="social-icon"><img src="./img/instagram.svg" alt="instgram logo"> </img></a>
        </div>
    </footer>
</body>
</html>
