<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/orders.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" href="./img/tokio-hotel.svg" type="img/svg+xml">
    <script src="./js/orders.js" defer></script>
    <title>Hotel Room Reservation</title>
</head>
<body>
    <nav>
        <ul>
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/services">Services</a></li>
            <li class="nav-item"><a href="/contact">Contact</a></li>
            <li class="nav-item">
                <div class="account">
                    <img src="./img/profile.png" alt="profile image"/>
                    <h3>Welcome Natalia</h3>
                    
                </div>
            </li>
        </ul>
       
    </nav>
    <div class="container">
        <div class="room-list">
            
            <div class="product-card">
                <img src="./img/family-suite.jpg" alt="Luxurious Family Suite">
                <h2 class="product-title">Luxurious Family Suite</h2>
                <p class="product-description">Indulge in the opulence of this spacious suite designed for families. Featuring elegant decor and ample amenities for a comfortable stay.</p>
                <p class="product-price">$499.99</p>
                <button class="product-button product-button1"  id="buyNowButton" data-room="room1">Reserve Now</button>
            </div>
    
            <div class="product-card">
                <img src="./img/romantic-getaway.jpg" alt="Romantic Getaway Suite">
                <h2 class="product-title">Romantic Getaway Suite</h2>
                <p class="product-description">Escape to a romantic retreat designed exclusively for couples. Enjoy intimate moments in a charming setting with all the necessary amenities.</p>
                <p class="product-price">$399.99</p>
                <button class="product-button product-button2"  id="buyNowButton" data-room="room2">Reserve Now</button>
            </div>

            
        </div>


        <section class="room-details" id="room1" style="display: none;">
            <div class="navbar-strip">
                
            <form action="/orders" method="post">
                <div class="date-input">
                    <label for="check-in">Check-In:</label>
                    <input type="date" id="check-in" name="checkIn">
                </div>
                <div class="date-input">
                    <label for="check-out">Check-Out:</label>
                    <input type="date" id="check-out" name="checkOut">
                </div>
                <button type="submit" class="search-button">Calculate</button>
            </form>
            

            </div>


            <!-- Room details go here -->
            <div class="room-description">
                <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./img/luxurious-room.jpg" class="d-block w-100" alt="Image 1">
                        </div>
                        <div class="carousel-item">
                            <img src="./img/interior.jpg" class="d-block w-100" alt="Image 2">
                        </div>
                        <div class="carousel-item">
                            <img src="./img/suite.jpg" class="d-block w-100" alt="Image 3">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                


                <div class="room-services">
                    <ul>
                        <li>
                            <div class="product-dp icon-color">
                                <i class="fas fa-shower"></i>
                                <h4>Hot shower</h4>

                            </div>
                        </li>

                        <li>
                            <div class="product-dp icon-color">
                                <i class="fas fa-hands-wash"></i>
                                <h4>Laundry</h4>

                            </div>
                        </li>

                        <li>
                            <div class="product-dp icon-color">
                                <i class="fas fa-shield"></i>
                                <h4>Security</h4>

                            </div>
                        </li>

                        
                        <li>
                            <div class="product-dp icon-color">
                                <i class="fas fa-gamepad"></i>
                                <h4>Games</h4>

                            </div>
                        </li>

                        <li>
                            <div class="product-dp icon-color">
                                <i class="fas fa-tv"></i>
                                <h4>Lounge/Tv</h4>

                            </div>
                        </li>

                        <li>
                            <div class="product-dp icon-color">
                                <i class="fas fa-tshirt"></i>
                                <h4>Ironing Service</h4>

                            </div>
                        </li>

                        <li>
                            <div class="product-dp icon-color">
                                <i class="fas fa-volume-mute"></i>
                                <h4>Sound Proof</h4>

                            </div>
                        </li>

                        <li>
                            <div class="product-dp icon-color">
                                <i class="fas fa-dumbbell"></i>
                                <h4>Fitness Center</h4>

                            </div>
                        </li>
                    
                    </ul>
                </div>

                <div class="table-container">
                    <table border="1">
                        <thead>
                          <tr>
                            <!-- Define the table header cells with orange background -->
                            <th>Room Types</th>
                            <th>Sleeps</th>
                            <th>Price</th>
                            <th>Your Choices</th>
                            <th>Select Rooms</th>
                          </tr>
                        </thead>
                        <tbody>
                          <!-- Add table rows with data here -->
                          <tr>
                            <td><i class="fas fa-bed"></i> Queen Bed</td>
                            <td> <i class="fas fa-user"></i> </td>
                            <td>$100</td>
                            <td>Choice 1</td>
                            <td>
                                <select class="selectNumber" name="selectRoom">
                                </select>
                            </td>
                          </tr>
                          <tr>
                            <td>Double Room</td>
                            <td> <i class="fas fa-users"></i> </td>
                            <td>$150</td>
                            <td>Choice 2</td>
                            <td>
                                <select class="selectNumber" name="selectRoom">
                                </select>
                            </td>
                          </tr>
                          <!-- Add more rows as needed -->
                        </tbody>
                      </table>

                </div>
            </div>            
           
        </section>

            <section class="room-details" id="room2"  style="display: none;">
                <div class="navbar-strip">
                    <form action="/orders" method="post">
                        <div class="date-input">
                            <label for="check-in">Check-In:</label>
                            <input type="date" id="check-in" name="checkIn">
                        </div>
                        <div class="date-input">
                            <label for "check-out">Check-Out:</label>
                            <input type="date" id="check-out" name="checkOut">
                        </div>
                        <button type="submit" class="search-button">Calculate</button>
                    </form>
                    
                </div>
    
                <!-- Room details go here -->
                <div class="room-description">
                    <div id="myCarousel2" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="./img/luxurious-room.jpg" class="d-block w-100" alt="Image 1">
                            </div>
                            <div class="carousel-item">
                                <img src="./img/interior.jpg" class="d-block w-100" alt="Image 2">
                            </div>
                            <div class="carousel-item">
                                <img src="./img/suite.jpg" class="d-block w-100" alt="Image 3">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel2" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel2" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    
    
    
                    <div class="room-services">
                        <h1>room2</h1>
                        <ul>
                            <li>
                                <div class="product-dp icon-color">
                                    <i class="fas fa-shower"></i>
                                    <h4>Hot shower</h4>
    
                                </div>
                            </li>
    
                            <li>
                                <div class="product-dp icon-color">
                                    <i class="fas fa-hands-wash"></i>
                                    <h4>Laundry</h4>
    
                                </div>
                            </li>
    
                            <li>
                                <div class="product-dp icon-color">
                                    <i class="fas fa-shield"></i>
                                    <h4>Security</h4>
    
                                </div>
                            </li>
    
                            
                            <li>
                                <div class="product-dp icon-color">
                                    <i class="fas fa-gamepad"></i>
                                    <h4>Games</h4>
    
                                </div>
                            </li>
    
                            <li>
                                <div class="product-dp icon-color">
                                    <i class="fas fa-tv"></i>
                                    <h4>Lounge/Tv</h4>
    
                                </div>
                            </li>
    
                            <li>
                                <div class="product-dp icon-color">
                                    <i class="fas fa-tshirt"></i>
                                    <h4>Ironing Service</h4>
    
                                </div>
                            </li>
    
                            <li>
                                <div class="product-dp icon-color">
                                    <i class="fas fa-volume-mute"></i>
                                    <h4>Sound Proof</h4>
    
                                </div>
                            </li>
    
                            <li>
                                <div class="product-dp icon-color">
                                    <i class="fas fa-dumbbell"></i>
                                    <h4>Fitness Center</h4>
    
                                </div>
                            </li>
                        
                        </ul>
                    </div>
    
                    <div class="table-container">
                        <table border="1">
                            <thead>
                              <tr>
                                <!-- Define the table header cells with orange background -->
                                <th>Room Types</th>
                                <th>Sleeps</th>
                                <th>Price</th>
                                <th>Your Choices</th>
                                <th>Select Rooms</th>
                              </tr>
                            </thead>
                            <tbody>
                              <!-- Add table rows with data here -->
                              <tr>
                                <td><i class="fas fa-bed"></i> Queen Bed</td>
                                <td> <i class="fas fa-user"></i> </td>
                                <td>$100</td>
                                <td>Choice 1</td>
                                <td>
                                    <select class="selectNumber" name="selectRoom">
                                    </select>
                                </td>
                              </tr>
                              <tr>
                                <td>Double Room</td>
                                <td> <i class="fas fa-users"></i> </td>
                                <td>$150</td>
                                <td>Choice 2</td>
                                <td>
                                    <select class="selectNumber" name="selectRoom">
                                    </select>
                                </td>
                              </tr>
                              <!-- Add more rows as needed -->
                            </tbody>
                          </table>
    
                    </div>
                </div>            
               
            </section>
       
          
        </div>
    </div>
</body>
</html>

