<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/reservations.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="icon" href="./img/tokio-hotel.svg" type="img/svg+xml">
    <script src="./js/reservations.js" defer></script>
    <title>Hotel Room Reservation</title>
</head>
<body>
    <nav>
        <ul>
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item">Info</li>
           
        </ul>
       
    </nav>

    <main>
        <div class="card-collection">
            <div class="product-card">
                <img src="./img/interior2.jpg" alt="Product Name">
                <h2 class="product-title">Luxury Rooms</h2>
                <p class="product-description"> Your Home away from Home where luxury meets comfort </p>
                <button class="product-button" id="buyNowButton">Check</button>
            </div>

            <div class="product-card">
                <img src="./img/interior2.jpg" alt="Product Name">
                <h2 class="product-title">Product Name</h2>
                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id mauris in nunc bibendum tristique.</p>
                <button class="product-button" id="buyNowButton">Buy Now</button>
            </div>

            <div class="product-card">
                <img src="./img/interior2.jpg" alt="Product Name">
                <h2 class="product-title">Product Name</h2>
                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id mauris in nunc bibendum tristique.</p>
                <p class="product-price">$99.99</p>
                <button class="product-button" id="buyNowButton">Buy Now</button>
            </div>
        </div>
    </main>

</body>
</html>

