<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/services.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="icon" href="./img/tokio-hotel.svg" type="img/svg+xml">
    <script src="./js/services.js" defer></script>
    <title>Hotel Services</title>
</head>
<body>
    <nav>
        <ul>
            <li class="nav-item">Home</li>
            <li class="nav-item">Services</li>
            <li class="nav-item">Info</li>
            <li class="nav-item">
                <div class="account">
                    <img src="./img/profile.png" alt="profile image"/>
                    <h3>Welcome Natalia</h3>
                    
                </div>
            </li>
        </ul>
       
    </nav>

</body>
</html>

