<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Management System - Login</title>
    <link rel="stylesheet" href="./css/signup.css"> <!-- Link to the external CSS file -->
</head>
<body>
    
    <div class="login-container">
        <div class="center-container">
        <h1>Login to Hotel Management System</h1>
        <form action="/signup" method="post">
            <div class="input-container">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-container">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="login-button">Login</button>
        </form>
    </div>
    </div>
</body>
</html>
