<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/spa.css" />
    <script src="./js/spa.js"></script>
    <title>Spa</title>
</head>
<body>
    <nav>
        <ul>
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/services">Services</a></li>
            <li class="nav-item"><a href="/contact">Contact</a></li>
        </ul>
       
    </nav>

    <div class="container">
        <div class="spa-hero">
            <h1>SPA</h1>
            <h4>Let us take care of you</h4>
        </div>

        <div class="spa-container">
            <a href="/spa/massages">
                <div class="spa-card" id="full-body-massage-card">
                    <div class="card-message">
                        Massage tailored just for you
                    </div>
                </div>
            </a>

            <a href="*">
                <div class="spa-card" id="dining-card">
                    <div class="card-message">
                        Gormeigh Dining
                    </div>
                </div>

            </a>

            <a href="*">
                <div class="spa-card" id="office-card">
                    <div class="card-message">
                        Manny's and Peddy's
                    </div>
                </div>

            </a>

        </div>
        
    </div>
    
</body>
</html>