@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

body{
    background: linear-gradient(to right, #ff5e62, #8440ff); /* Pink-purple gradient */
    width: 100vw;

}

/* Navigation Bar */
nav {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

li.nav-item {
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
}

li.nav-item:last-child {
    margin-right: 0;
}

li.nav-item a {
    text-decoration: none;
    color: #fff;
}

li.nav-item a:hover{
    color: #ff6e40;
}


/* Other styles remain unchanged */
ul,
li,
a {
    list-style: none;
    text-decoration: none;
    color: #fff;
}

/* Section 1 */
#hero {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    height: 75vh;
}

.quote {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Added padding for better visibility */
    border-radius: 10px; /* Added border-radius for rounded corners */
}

.inspiring-text {
    text-align: center;
    font-style: italic;
    font-weight: 900;
    font-size: 2rem;
    background: linear-gradient(to right, #333, #5723b9);
    -webkit-background-clip: text;
    color: transparent;
}


.inspiring-text span{
    font-size: 1rem;
    font-weight: 400;
    color: #333333;
    font-style: normal;
}

.hero-img {
    width: 50%;
    position: relative;
    transition: display 0.3s ease;
}

.hero-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0; 
    margin-bottom: 0;
}

/* Section 2 */
#projects {
    height: fit-content;
}

.projects-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-card {
    width: 40rem;
    height: 30rem;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 1rem
}

/* Section 3 */
#salute {
    height: 20vh;
    background-color: #3c093caa;
}

/* Contact Buttons */
.contact-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust margin as needed */
}

.contacts {
    margin: 0 10px; /* Adjust margin as needed */
    display: flex;
    flex-wrap: wrap;
}

.contacts a img {
    height: 2rem;
    justify-content: center;
    align-items: center;
}

  /* ------------------------------------------Mobile View -------------------------------------- */
  /* Mobile View Adjustments */
  @media (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    nav{
        width: 100%;
    }

    .hero-img{
        display: none;
    }


    .quote{
        display: flex;
        width: 100%;
        height: 100%;
        background:url('../img/self\ \(Large\).png') no-repeat;
        transition: transform 0.3s ease;
        background-size: cover;
        overflow-x: hidden;

    }

    .inspiring-text{
        color: #fff;
        
    }

    .contacts a img{
        height: 2rem
        
    }
  }